.gradle
build
.idea

account-service/build
account-service/.gradle

bill-service/build
bill-service/.gradle

config-service/build
config-service/.gradle

deposit-service/build
deposit-service/.deposit-service

notification-service/build
notification-service/.deposit-notification-service
notification-service/src/main/resources/mail-props.properties

gateway/build
gateway/.gradle

registry/build
registry/.gradle
